@charset "UTF- 8";

body{
    background-color: #816fe4;
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
    color: 
    #4255E3
    ;
}
h1#principal{
    color: #42AAE3;
    text-align: center;
    background-color: #1e2b42;
}
h2{ 
   color: #49EDFD;;
}

h2.basico{
    color: rgb(156, 245, 23);
}

h2.intermediario{
    color: rgb(230, 255, 6);
}

h2.avancado{
    color: rgb(72, 182, 29);
}
/*Tudo que for id em HTML, em CSS vira #
  Tudo que for class em HTML, em CSS vira . 
*/